@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom.css */
@layer utilities {

  .logo.hide {
    opacity: 0;
  }

  .logo.to-top {
    transform: scale(0.4) translateY(-150px);
  }

  .logo.to-bottom {
    transform: scale(0.4) translateY(150px);
  }
  .logo {
    transition: all 2.4s cubic-bezier(0.25, 1, 0.5, 1);
    filter: invert(97%) grayscale(100%) opacity(0.6);
  }
 

  /* body.dark .logo {
    filter: invert(97%) grayscale(100%) opacity(0.6);
  }

  body.light .logo {
    filter: grayscale(100%) opacity(0.6);
  } */
}


@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}